.drone__hero {
  width: 100%;
  height: 550px;
  padding: 3rem;
  display: grid;
  grid-template-columns: 40% 60%;
  justify-items: center;
}

.drone__hero-text {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem 1rem 0rem 1rem;
}

.drone__hero h5 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 56px;
  font-weight: 700;
  color: var(--dark-blue);
}

.drone__hero p {
  color: #656871;
  font-size: 18px;
  line-height: 1.8rem;
  margin-bottom: 2.5rem;
}

.drone__hero-image-container {
  width: 80%;
  height: 100%;
}

.drone__hero-image-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.drone__hero button {
  padding: 0.8rem 2rem;
  font-family: var(--font);
  outline: none;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  background: var(--light-blue);
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}

@media screen and (max-width: 950px) {
  .drone__hero {
    grid-template-columns: 50% 50%;
    height: 950px;
  }
}
@media screen and (max-width: 850px) {
  .drone__hero {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    padding: 0rem;
    height: 100vh;
  }

  .drone__hero-text {
    order: 2;
    padding: 1rem;
    height: 100%;
    margin-top: 0;
  }

  .drone__hero h5 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 26px;
  }

  .drone__hero p {
    font-size: 15px;
    line-height: 1.2rem;
    margin-bottom: 1.5rem;
  }

  .drone__hero-text button {
    font-size: 13px;
    padding: 0.7rem 1.4rem;
  }

  .drone__hero-image-container {
    order: 1;
    height: 100%;
  }

  .drone__hero-image-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
